PORT=5000
MONGO_URI=mongodb://localhost:27017/Shuttle
#MONGO_URI = mongodb+srv://<dbname>:<password>@cluster0.rpgjg4x.mongodb.net/campus-shuttle?appName=Cluster0
JWT_SECRET=a3faeda44fd9cb4b3a25a02d62c11365
